<footer class="footer flex align-x align-y">
    <ul class="nav-list flex align-x align-y">
      <li>
        <a href="https://github.com/marcosvag" target="_blank" class="contact-link"
          ><span class="social flex align-x align-y"
            ><i
              class="fa-brands fa-github fa-xl"
              aria-hidden="true"
            ></i></span
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/marcosagdev" target="_blank" class="contact-link"
          ><span class="social flex align-x align-y"
            ><i
              class="fa-brands fa-linkedin fa-xl"
              aria-hidden="true"
            ></i></span
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/marcosagdev" target="_blank" class="contact-link"
          ><span class="social flex align-x align-y"
            ><i class="fa fa-twitter fa-xl" aria-hidden="true"></i></span
        ></a>
      </li>
    </ul>
    <p class="footer-text">© Marcos Garcia </p>
  </footer>