<nav>
    <ul class="nav-list flex aling-x">
        <li><a href="/">Home</a></li>
        <li><a href="/auth/logout" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
    </ul>
</nav>