<%- contentFor('body') %>
<div class="login-container card flex align-x align-y">
    <h1>Welcome to <br>TIC-TAC-TOE MULTIPLAYER</h1>
    <p>You have to login to play:</p>
    <a href="/auth/google"><i class="fa-brands fa-google"></i> LOGIN WITH GOOGLE</a>
</div>