<div class="card flex align-x align-y">
<h1>404</h1>
<h2>Game not found</h2>
<p>go to <a href="/">HOME</a> to enter the Room code again</p>
<p>Or</p>
<form action="/" method="POST">
    <button type="submit">Create Room</button>
</form>
</div>